.basket
    display: none
    width: 440px
    
    margin: 35px auto
    color: #333
    font-weight: 700
    text-align: left
    @media(min-width:992px)
        margin: 0
        width: 100%
        padding: 40px 30px
    .flex
        flex-direction: column
        justify-content: space-between
        @media(min-width:992px)
            flex-direction: row
.basket-title
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 10px
.basket-clear
    color: #0089d5
    font-size: 18px
    font-weight: 400
    border-bottom: 1px dotted #0089d5
    margin-bottom: 5px
    cursor: pointer
    position: relative
    &::after
        position: absolute
        content: '+'
        width: 18px
        font-size: 22px
        font-weight: 400
        transform: rotate(45deg)
.basket-goods
    margin-right: 25px
.basket-item
    display: flex
    position: relative
    border: 1px solid #c6c6c6
    border-radius: 15px
    margin-top: 20px
.basket-item_img
    min-width: 145px
    max-width: 145px
    border-left: 1px solid #c6c6c6
    border-right: 1px solid #c6c6c6
    margin-left: 12px
    img 
        width: 100%
.basket-item_info
    margin: 20px auto
    @media(min-width:992px)
        margin: 30px 30px 30px 20px
.basket-item_title
    width: 210px
    font-size: 12px
    font-weight: 700
.basket-item_code
    color: #b2b2b2
    font-size: 14px
    margin: 15px 0
.info-right
    @media(min-width:992px)
     margin-left: 30px
.basket-item_price
    display: flex
    align-items: center
.basket-item_count
    display: flex
    align-items: center
.basket-item_count-dell, .basket-item_count-add
    padding: 0 2px
    font-size: 20px
    color: $purple
    cursor: pointer
// .basket-item_count-add

.basket-item_count-value
    width: 27px
    height: 21px
    border-radius: 8px
    border: 1px solid #c6c6c6
    padding-left: 10px
    font-size: 12px
    font-weight: 700
    color: #000
.basket-price_num
    font-size: 14px
    margin-left: 40px
    color: #000
.basket-item_close
    position: absolute
    top: 50%
    right: -25px
    transform: translateY(-50%)
.basket-total
    background-color: #f0f0f0
    border-radius: 15px
    padding: 40px 75px 20px
    margin-top: 30px
    font-size: 14px
    font-weight: 600
    color: #666666
    max-height: 270px
    @media(min-width:992px)
        margin-top: 50px
        padding: 40px 30px 20px
    @media(min-width:1100px)
        width: 360px 
    strong 
        font-weight: 700
        color: #000
    .total-goods, .total-delivery, .total
        display: flex
        align-items: center
        justify-content: space-between
        padding-bottom: 5px
    .total-goods
    .total-delivery
        border-bottom: 1px solid #333333
        margin-bottom: 7px
    .total
    #basket_submit
        width: 224px
        height: 45px
        background-color: $green
        font-size: 19px
        font-weight: 600
        margin-top: 35px
    .continue
        text-align: center
        margin-top: 5px
        span
            border-bottom: 1px dotted #333