.popup
	width: 338px
	border-radius: 10px
	background: #fff
	position: absolute
	top: 60%
	left: 50%
	transform:  translate(-50%, -50%)
	z-index: 10
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2)
.popup-close
	position: absolute
	top: 15px
	right: 15px
	padding: 10px
	cursor: pointer
.bg_popup
	position: absolute
	top: 57px
	left: 0px
	z-index: -1
	margin: 0 10px
.popup_title
	color: #231e1f
	font-size: 26px
	line-height: 1.2
	font-weight: 700
	width: 265px
	text-align: center
	margin: 60px auto  15px
	span 
		font-weight: 600
.form-input, .form-textarea
	width: 270px
	border: 1px solid #c6c6c6
	border-radius: 10px
	margin-bottom: 15px
.form-input
	height: 40px
.form-textarea
	height: 40px

.btn-violet
	width: 270px
	margin-bottom: 40px
	a 
		background-color: #b8a4dd
		font-size: 14px
		padding: 11px 20px
		&:focus, &:active, &:hover
            background-color: darken(#b8a4dd, 10%)

	//::::::::::::: Discount::::::::::::: 
.popup_discount
	display: none
	height: 325px

.popup_recall
	// display: none
	// height: 325px
	.popup_title
		margin-bottom: 35px