.col-xs-5th,
.col-sm-5th,
.col-md-5th,
.col-lg-5th
    position: relative
    min-height: 1px
    padding-right: 10px
    padding-left: 10px
    width: 20%
    float: left
.col-5-th
	-webkit-box-flex: 0
	-webkit-flex: 0 0 20%
	-ms-flex: 0 0 20%
	flex: 0 0 20%
	max-width: 20%
@media (min-width: 768px)
	.col-sm-5th
		-webkit-box-flex: 0
		-webkit-flex: 0 0 20%
		-ms-flex: 0 0 20%
		flex: 0 0 20%
		max-width: 20%
@media (min-width: 992px)
	.col-md-5th
		-webkit-box-flex: 0
		-webkit-flex: 0 0 20%
		-ms-flex: 0 0 20%
		flex: 0 0 20%
		max-width: 20%
@media (min-width: 1200px)
	.col-lg-5th
		-webkit-box-flex: 0
		-webkit-flex: 0 0 20%
		-ms-flex: 0 0 20%
		flex: 0 0 20%
		max-width: 20%

html
	min-width: 480px
	width: 100%
body
	width: 100%
	min-width: 480px
	max-width: 1200px
	margin: 0 auto
	font-family: 'Gilroy', sans-serif
	font-size: 16px
	font-weight: 600
	line-height: 1.2
	text-align: center
	color: #666666
	position: relative
a
	text-decoration: none
	color: inherit
	cursor: pointer
	// transition: 0.2s ease-out
	&:hover
		cursor: pointer
		text-decoration: none
		color: $red
	
.btn
	width: 270px
	margin: 0 auto
	a 
		display: block
		font-size: 14px
		padding: 10px 20px
		border-radius: 10px
		color: #fff
		&:hover 

ul, li 
	margin: 0
	padding: 0
	list-style-type: none
h2 
	color: #333333
	font-size: 28px
	font-weight: 700
	// text-align: left
	@media(min-width:992px)
		font-size: 24px
h3 
	color: #333333
	font-size: 24px
	font-weight: 700
	text-align: left
	@media(min-width:992px)
		font-size: 20px
p 
	color: #706f6f
	font-size: 14px
	font-weight: 400
	line-height: 25px
	text-align: left

input, textarea
	outline: none
	padding-left: 15px
	text-overflow: ellipsis
input::-webkit-input-placeholder 
	color: #666666
	font-size: 12px
	font-weight: 600

input::-moz-placeholder /* Firefox 18- */
	color: #666666
	font-size: 12px
	font-weight: 600

input::-moz-placeholder /* Firefox 19+ */
	color: #666666
	font-size: 12px
	font-weight: 600

input::-ms-input-placeholder 
	color: #666666
	font-size: 12px
	font-weight: 600

textarea::-webkit-input-placeholder 
	padding-top: 5px
	color: #666666
	font-size: 12px
	font-weight: 600
textarea:-moz-placeholder  /* Firefox 18- */
	padding-top: 5px
	color: #666666 
	font-size: 12px
	font-weight: 600
textarea::-moz-placeholder   /* Firefox 19+ */
	padding-top: 5px
	color: #666666 
	font-size: 12px
	font-weight: 600
textarea:-ms-input-placeholder   
	padding-top: 5px
	color: #666666
	font-size: 12px
	font-weight: 600


.no-mobile_span
	display: none
	@media(min-width:992px)
		display: inline
.flex
	display: flex


